@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table id="UserList">
    <tr><th>UserName</th></tr> 
    <tr><th>UserName</th></tr>  
</table>


@section scripts {
    
    @Assets.Script("knockout-2.1.0.debug.js")
    <script src="~/Areas/Admin/Views/Users/Index.js"></script>

}
